<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Subject" value="Available for a new contract" />
        <add key="Message" value=" Hi {0},  I am currently available and looking for a new contract position as Senior .NET Developer in Toronto area.   20 years of experience, primary skillset: .NET, C#, ASP.NET, MVC, SQL Server, WCF, Web Servcies. Latest resume is attached.  Best Regards, Slava Lishnevsky." />
        <add key="Resume" value="d:\Documents\Work\Slava Lishnevsky.doc" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.net>
        <mailSettings>
            <smtp from="slishnevsky@gmail.com">
                <network host="smtp.gmail.com" port="587" userName="slishnevsky" password="welcomeMaximo19" enableSsl="true" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>