<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="angusSettings" type="ConfigurationSectionDesignerDemo.AngusSettings, ConfigurationSectionDesignerDemo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>

	<angusSettings xmlns="urn:ConfigurationSectionDesignerDemo">

		<tenantApiSettings
			baseUrl="https://dev5.angus-systems.com/"
			tokenEndpoint="authenticationapi/connect/token"
			clientId="demodev"
			clientSecret="E788B33A-BC25-4052-B079-57CD42D8EE3E"
			grantType="client_credentials"
			scope="tenantintegrationapi"
			buildingId="600000157"
			numImmediateRetries="1"
			numDelayedRetries="1"
			delaySecs="60"
			retryStatusCodes="202;500;503" />

		<generalSettings
			tenantName="TenantName"
			usesVerifyStatus="true"
			verifyDelay="120000"
			facilityCode=""
			usesEmailNotification="false"
			fromEmailAddress=""
			toEmailAddresses="">
			<filters>
				<filter name="Personnel.LastName" value="Testerino;Whetham" />
				<filter name="Credential.AccessType" value="CardAccess"/>
				<filter name="PersonnelClearancePair.ClearanceName" value="Visitor Access;Contractor Access" />
			</filters>
		</generalSettings>

	</angusSettings>



	<!--<appSettings>
		-->
	<!-- Angus API Settings -->
	<!--
		<add key="BaseUrl" value="https://localhost/" />
		<add key="TokenEndpoint" value="authenticationapi/connect/token" />
		<add key="ClientId" value="" />
		<add key="ClientSecret" value="" />
		<add key="BuildingId" value="" />
		<add key="GrantType" value="client_credentials" />
		<add key="Scope" value="tenantintegrationapi" />

		-->
	<!-- General Settings -->
	<!--
		<add key="TenantName" value="TenantName" />
		<add key="Cardholder\UsesVerifyStatus" value="true" />
		<add key="Cardholder\VerifyDelay" value="120000" />
		<add key="Cardholder\FacilityCode" value="" />

		-->
	<!-- Filter Settings -->
	<!--
		<add key="NumFilters" value="1" />
		<add key="Filter\1" value="PersonnelClearancePair.ClearanceName" />
		<add key="Filter\1\AllowedValues" value="Employee;Visitor" />

		-->
	<!-- Heartbeat settings -->
	<!--
		<add key="Heartbeat\UsesHeartbeatPolling" value="true" />
		<add key="Heartbeat\TimerInterval" value="120000" />

		-->
	<!-- Retry settings -->
	<!--
		<add key="Retry\NumImmediateRetries" value="1" />
		<add key="Retry\NumDelayedRetries" value="1" />
		<add key="Retry\DelaySecs" value="60" />
		<add key="Retry\RetryStatusCodes" value="202;500;503" />

		-->
	<!-- Email Settings -->
	<!--
		<add key="Email\FromEmailAddress" value="noreply@angus-systems.com" />
		<add key="Email\ToEmailAddresses" value="" />

		-->
	<!-- User Defined Fields -->
	<!--
		<add key="Udf1" value="PersonnelClearancePair.ClearanceName" />
		<add key="Udf3" value="Credential.AccessType" />
	</appSettings>-->

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="ServiceBinding" maxReceivedMessageSize="2147483647" receiveTimeout="24.0:00:00" sendTimeout="0.0:20:00">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
					<reliableSession enabled="false" ordered="true"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="ClientSession" address="net.tcp://secdev8.angus.lan:8999/CrossFire/IClientSession" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="SoftwareHouse.CrossFire.Common.ClientInterfaceLayer.IClientSession"></endpoint>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>