<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Data Source=10.192.86.152\SQLSERVER2008;Initial Catalog=Northwind;User ID=sa;Password=BCEto70U;" providerName="System.Data.SqlClient"/>
    <add name="localdbconnection" connectionString="Server=(localdb)\v11.0;Integrated Security=true;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5"/>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="NorthwindCache" connectionStringName="default" pollTime="500"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
</configuration>